<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto de Software I</title>
</head>
<body>
    <h1>Hola, este es el repositorio para la asignatura: Proyecto de Software I</h1>
    <p>En este repositorio se encuentran los archivos necesarios para los issues de la asignatura.</p>
    <h1>Integrantes del grupo:</h1>
    <ul>
        <li>Daira</li>
        <li>Juan</li>
        <li>Eduardo</li>
    </ul>
    <p> issue de gestion de horarios</p>
</body>
</html>
